.text {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  border: 1px solid #000;
  z-index: 100;
  font-size: 1.5rem;
}

.region{
  position: relative;
  cursor: pointer;
}

.regionSelected{
  cursor: pointer;
  fill: #1c84df;
  position: relative;
}

.regionSelected:hover{
  cursor: pointer;
  fill: #1c1fdf;
  position: relative;
}

.region:hover{
  cursor: pointer;
  fill: #BFD676;
  position: relative;
}

