@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
:root {
  --color: #fff;
  --bg-color: #222;
  }
} */

:root {
  --font-family: sans-serif;
  --font-size: 16px;
  --font-weight: 400;
  --line-height: 1.5;
  --color: #222;
}

body {
  background-color: #fff;
  color: var(--color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}

.app-container {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}